{% extends 'base.html' %}
{% block title %}Reviews{% endblock %}
{% block content %}
<div class="container mt-5">

    <div class="flash-messages">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success alert-dismissible fade show position-fixed bottom-0 end-0" role="alert">
                    <div class="flash-messages-list">
                        {{ message }}
                    </div>
                    <button type="button" id="close-button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>


 <h2 >Leave a Review</h2>
    <div class="row g-0">
    <div class="col">
      <div class="p-3">
        <form method="POST">
          <div class="mb-3">
               {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.user_email.label(class="form-label mt-4") }}
      {{ form.user_email(class="form-control", placeholder="Enter email") }}
    </div>
          </div>
          <div class="mb-3">
                <div class="form-group">
      {{ form.message.label(class="form-label mt-4") }}
      {{ form.message(class="form-control", placeholder="Enter message") }}
    </div>
          </div>
              <div class="form-group">

      {{ form.submit(class="btn btn-primary mt-3 mb-5") }}
    </div>
        </form>
      </div>
    </div>

<h4 class="mb-3">Reviews</h4>

<div class="row">
  <div class="col-md-3 mt-3">
    <h5>Emails</h5>
    <ul class="list-group mt-3 ">
      {% for review in reviews %}
        <li class="list-group-item ">{{ review.user_email }}</li>
        <hr class="my-4">
      {% endfor %}
    </ul>
  </div>

  <div class="col-md-9 mt-3">
    <h5>Messages</h5>
    <div class="list-group mt-3 ">
      {% for review in reviews %}
        <li class="list-group-item ">{{ review.message }}</li>
        <hr class="my-4">
      {% endfor %}
    </div>
  </div>
</div>
    </div>
</div>
{% endblock %}