{% extends 'base.html' %}
{% block title %}Post{% endblock %}
{% block content %}

<div class="container mt-5">
    <div class="d-flex flex-row mt-3 p-3">
        <div>
            <img src="{{ url_for('static', filename='post_pics/' + post.image_file) }}" class="img-fluid rounded-1" style="max-width: 30em; min-width: 30em; width: 100%;" alt="Post Image">
        </div>
<div class="d-flex flex-column justify-content-between p-3 flex-grow-1">
        <div class="justify-content-between">
            <h2>Post: {{post.title}}</h2>
            <p class="lead text-black">{{ post.text }} </p>



            <p>Created at: {{ post.created }}</p>

            {% if current_user.is_authenticated and post.user_id == current_user.id %}
                <a href="{{ url_for('.update_post', id=post.id) }}" class="align-self-baseline btn btn-primary">Edit</a>
            {% endif %}
        </div>
</div>
    </div>


</div>

{% endblock %}