
{% if current_user.is_authenticated %}
  {% set menu = {"Main": url_for("main"),
                "Appeal": url_for("misc_bp.appeal"), "Skills": url_for("misc_bp.skill"),
                "Reviews": url_for("reviews_bp.reviews"), "Todo": url_for("todo_bp.todo"),
                "Users": url_for("auth_bp.users"), "Account": url_for("auth_bp.account"),
                "Info": url_for("cookies_bp.info"), "Logout": url_for("auth_bp.logout")}  %}
{% else %}
  {% set menu = {"Main": url_for("main"),
                 "Skills": url_for("misc_bp.skill"), "Appeal": url_for("misc_bp.appeal"),
                "Log in": url_for("auth_bp.login"), "Reviews": url_for("reviews_bp.reviews"),
                "Todo": url_for("todo_bp.todo"), "Registration": url_for("auth_bp.register"),
                "Users": url_for("auth_bp.users")}  %}
{% endif %}


<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/app/static">Portfolio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        {%for name, url  in menu.items() %}
        <li class="nav-item">
          <a class="nav-link" href={{url}}>  {{name | upper }}   </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>