.rounded-image {
  border-radius: 6%; /* Додаємо круглі кути */
  width: 100%; /* Робимо зображення адаптивним за шириною */
  opacity: 0.9;
}

  .custom-input {
    height: 100px; /* Задайте бажану висоту */
  }



