{% extends 'base.html' %}
{% block title %}Log in{% endblock %}
{% block content %}

{% macro render_field(field) %}
  <div class="mb-3">
    {{ field.label(class="form-label mt-4") }}
    {% if field.type == 'BooleanField' %}  {# перевірка типу поля #}
      <div class="form-check">
        {{ field(class="form-check-input") }}  {# зміна класу #}
        <label class="form-check-label" for="{{ field.id }}">{{ field.label.text }}</label>
      </div>
    {% else %}
      {{ field(class="form-control", placeholder=field.label.text) }}
    {% endif %}
  </div>
{% endmacro %}

<div class="container mt-5">
  <h2>Log in</h2>
  <div class="row g-0">
    <div class="col">
      <div class="p-3">
        <form method="POST">
            {{ form.csrf_token }}
            {{ render_field(form.username) }}
            {{ render_field(form.password) }}
            <div class="form-check mb-3 mt-4">
                {{ form.remember(class="form-check-input") }}
                <label class="form-check-label" for="{{ form.remember.id }}">Remember Me</label>
            </div>
            <button type="submit" class="btn btn-primary mt-3 mb-5">Submit</button>
        </form>

      </div>
    </div>
  </div>
</div>
{% endblock %}
