    <footer class="alert-dismissible alert-secondary bg-primary">
        <div class="container overflow-hidden text-center text-light"  >
            <div class="row gx-5">
                <div class="col">
                    <div class="p-3"><h7>{{ u_agent }}</h7></div>
                </div>
                <div class="col">
                    <div class="p-3">{{ OS }}</div>
                </div>
                <div class="col">
                    <div class="p-3">{{ time }}</div>
                </div>
            </div>
        </div>
    </footer>